<ion-header>
  <ion-toolbar>
    <ion-title>Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <center><img src="assets/images/Moacir.jpg" /></center>
    <ion-card-header>
      <ion-card-title>Moacir Henrique Tomchak Prates</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Matrícula: 201810202698<br>
      Data Matrícula: 07-09-2020<br>
      Usuário: moacir.hp<br>
      E-mail: moatonchak1@gmail.com
    </ion-card-content>
    <center><a href="tabs/tab3">Voltar</a></center>
  </ion-card>

</ion-content>