<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alunos da Turma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alunos da Turma</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Anthony.jpg">
      </ion-avatar>
      <ion-label>
        <a href="anthony">Anthony Cruz</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Eduardo.jpg">
      </ion-avatar>
      <ion-label>
        <a href="eduardo">Eduardo Silverio Schwambach</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Lucas M.jpg">
      </ion-avatar>
      <ion-label>
        <a href="lucas-m">Lucas de Mattos</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/LUCAS S.jpg">
      </ion-avatar>
      <ion-label>
        <a href="lucas-s">Lucas Schissel</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Lucas.jpg">
      </ion-avatar>
      <ion-label>
        <a href="lucas-a">Lucas Alves de Gois</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Marcos.png">
      </ion-avatar>
      <ion-label>
        <a href="marcos">Marcos Gabriel Fernandes</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Moacir.jpg">
      </ion-avatar>
      <ion-label>
        <a href="moacir">Moacir Henrique Tomchak Prates</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Robson.jpg">
      </ion-avatar>
      <ion-label>
        <a href="robson">Robson Venturin</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Samuel.jpg">
      </ion-avatar>
      <ion-label>
        <a href="samuel">Samuel Cardoso</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/Vinicius.jpg">
      </ion-avatar>
      <ion-label>
        <a href="vinicius">Vinicius Bortolini</a>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
