<ion-header>
  <ion-toolbar>
    <ion-title>Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <center><img src="assets/images/Samuel.jpg" /></center>
    <ion-card-header>
      <ion-card-title>Samuel Cardoso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Matrícula: 201810209674<br>
      Data Matrícula: 07-09-2020<br>
      Usuário: samuel.c1998<br>
      E-mail: samuelcard98@gmail.com
    </ion-card-content>
    <center><a href="tabs/tab3">Voltar</a></center>
  </ion-card>

</ion-content>