<ion-header>
  <ion-toolbar>
    <ion-title>Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <center><img src="assets/images/Lucas.jpg" /></center>
    <ion-card-header>
      <ion-card-title>Lucas Alves de Gois</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Matrícula: 201810209728<br>
      Data Matrícula: 07-09-2020<br>
      Usuário: lucas.a04<br>
      E-mail: lucas.a04@aluno.ifsc.edu.br 
    </ion-card-content>
    <center><a href="tabs/tab3">Voltar</a></center>
  </ion-card>

</ion-content>