<ion-header>
  <ion-toolbar>
    <ion-title>Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <center><img src="assets/images/Eduardo.jpg" /></center>
    <ion-card-header>
      <ion-card-title>Eduardo Silverio Schwambach</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Matrícula: 201810202559<br>
      Data Matrícula: 07-09-2020<br>
      Usuário: eduardo.s25<br>
      E-mail: eduardo_schwambach@outlook.com 
    </ion-card-content>
    <center><a href="tabs/tab3">Voltar</a></center>
  </ion-card>
</ion-content>
